
*{
   font-family: "poppins",sans-serif;
    
}
.navbar{
    font-weight: 600;
    text-shadow: 50%;
    transition: 2s;
}
.container-fluid a:hover{
    color: black;
}

.navbar-nav{
    padding-right: 15%;
}
.nav-item a{
    border:0;
    color: white;
}
#loginbtn{
    margin-right: 10%;
}
.nav-item{
    padding-right: 20%;
}
#contactusbtn{
    padding-right: 0%;
}
.carousel-item img{
    height: 737px;
    opacity: .6;
}


.carousel{
    background: rgb(5, 45, 69);
}
.carousel-caption h1 {
    position: absolute;
    right: 15%;
    bottom: 350%; 
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    text-shadow: 90%;
}
@media (min-width:768px){
    .carousel-caption h1{font-size: 5em;}
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  
  background-size: 100%, 100%;
  border-radius: 50%;
  
  
}


.col-12 h3:hover{
    color:rgb(233, 190, 22);
}
.wrapper{
   padding-top:0%;
   color: rgb(248, 247, 247)
   
   
   
}
.wrapper h3{
    font-weight: 300;
    text-shadow:2% #1d1c1c;
    backdrop-filter: blur(10px);
    
    
}

.row.text-start{
    background: linear-gradient(rgb(162, 162, 162),rgb(7, 35, 54));
}

.p-5 {
    padding: 0rem!important;
}
.form-control.mb-4.w-75{
    margin-left: 13%;
}
.form-group textarea{
    margin-left: 13%;
}
.col-6.p-3 form{
    height:100%;
}
.bx {
    font-size: 190%;
}
.col-12.text-center.text-white a{
    text-decoration: none;
    color: white;
}
.col-12.text-center.text-white a:hover{
    color:rgb(240, 176, 48);
}
.m-3 {
    margin: 0rem!important;
}
.font-weight-bold a:hover{
    color: rgb(233, 190, 22);
}
.contact-section{
    background-color: rgb(89, 89, 89);
}
.col-12.col-sm-6.pt-3 form{
    width:80%;
}
img{
    transition:1s;

}
.p-0 img{
    height: 100% ;
}
.col-md-5 img{
    height:91%;
    width:100%;  
}

.card-footer{
    bottom: -900px;
    transition: 1.5s;
    overflow: hidden;
    z-index: -1;
    cursor: pointer;
}
.col-md-5:hover .card-footer{
    bottom: -800px;
    z-index: 8;
    cursor: pointer;
}
.card-footer h3{
    font-size: 300%;
}
#frthimg{
    height: 260px;
}